@using Galaxy.GestionPedidos.Transversal
<div class="modal fade" id="@Nombre" tabindex="-1" aria-labelledby="tituloModal" aria-hidden="true">
    <div class="modal-dialog modal-@Size.ToString()">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="tituloModal">@Titulo</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Body
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ModalSizeEnum Size { get; set; } = ModalSizeEnum.lg;

    [Parameter]
    public string Titulo { get; set; } = "";

    [Parameter]
    public string Nombre { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = default!;

    [Parameter]
    public RenderFragment Footer { get; set; } = default!;


}
